<head>

    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="2nmghe5pfwtnno5"></script>

</head>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="#">My Profile</a>
            </li>
            <li> 
                <a  routerLink="/profilepage/mainsection">Add Password</a>
            </li>
            <li>
                <a href="#">Show Password</a>
            </li>
            <li>
                <a href="#">Logout</a>
            </li>
            <li>
                <a href="https://dl.dropboxusercontent.com/s/deroi5nwm6u7gdf/advice.png"  class="dropbox-saver"></a>
            </li>
            
        </ul>

         
    </div>
    <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
</div>
    

   
    